@layer sitegraph {
    :root {
        --slsg-node-color-hover: initial;
        --slsg-node-color-muted: initial;
        --slsg-link-color-hover: initial;
        --slsg-link-color-muted: initial;
        --slsg-label-color: initial;
        --slsg-label-color-hover: initial;
        --slsg-label-color-muted: initial;

        --sg-graph-bg-color: var(--sg-graph-minimized-bg-color);
    }

    /* Ensures that override on specific element will still inherit proper accent/muted colors */
	.sg-graph-component, .slsg-graph-component {
		--sg-node-color-hover: var(--slsg-node-color-hover, var(--sg-color-accent));
		--sg-node-color-muted: var(--slsg-node-color-muted, var(--sg-color-muted));

		--sg-link-color-hover: var(--slsg-link-color-hover, var(--sg-color-accent));
		--sg-link-color-muted: var(--slsg-link-color-muted, var(--sg-color-muted));

		--sg-label-color: var(--slsg-label-color, var(--sg-text-color));
		--sg-label-color-hover: var(--slsg-label-color-hover, var(--sg-text-color-accent));
		--sg-label-color-muted: var(--slsg-label-color-muted, var(--sg-text-color-muted));
	}

	/* =================================== Graph Container Styling ============================================== */
	.sg-graph-component, .slsg-graph-component {
		width: var(--sg-graph-width);
		height: var(--sg-graph-height);
	}

	.sg-graph-container, .slsg-graph-container {
		position: relative;
		width: var(--sg-graph-width);
		height: inherit;

		box-sizing: border-box;

		border-radius: 5px;
		background-color: var(--sg-graph-bg-color);
		outline: 1px solid var(--sg-graph-outline-color);

		canvas {
			display: block;
			width: inherit;
			height: inherit;
			border-radius: inherit;
		}
	}

	/* ========================================================================================================= */
	/* ====================================== Graph Stats Styling ============================================== */
	#slsg-graph-stats {
		position: fixed;
		bottom: 40px;
		right: 10px;
		z-index: 500;
		width: max(200px, 15vw, 15vh);
		height: max(100px, 6vh, 6vw);
		opacity: 0.6;
		user-select: none;
		cursor: pointer;
	}

	/* ========================================================================================================= */
	/* ====================================== Fullscreen Styling =============================================== */
	.sg-fullscreen-dialog[open] {
		position: fixed;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		max-width: none;
		max-height: none;
		margin: 0;
		padding: 0;
		border: 0;
		background: transparent;
		overflow: hidden;
	}

	.sg-fullscreen-dialog::backdrop {
		backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, 0.1);
	}

	.sg-graph-component.sg-fullscreen-active {
		--sg-graph-bg-color: var(--sg-graph-maximized-bg-color);
	}

	.sg-is-fullscreen {
		--sg-graph-bg-color: var(--sg-graph-maximized-bg-color);

		position: relative;
		z-index: 0;

		.sg-graph-action-container svg {
			width: 24px;
			height: 24px;
		}
	}

	/* ========================================================================================================== */
	/* ====================================== Graph Action Styles =============================================== */
	.sg-graph-action-container:not(:empty) {
		position: absolute;
		right: 0;

		display: flex;
		flex-direction: row;
		gap: 0.2rem;
		padding: 0.2rem 0.2rem 0.4rem 0.5rem;

		background-color: color-mix(in srgb, var(--sg-graph-bg-color) 80%, transparent);
		border-radius: 0 4px 0 16px;
		backdrop-filter: blur(4px);
	}

	.sg-graph-action-button.sg-graph-action-button {
		display: flex;

		color: var(--sg-graph-action-color);
		background-color: transparent;
		transition: background-color 0.3s ease, color 0.3s ease;

		border: unset;
		border-radius: 4px;

		margin-top: unset;

		padding: 0.2rem;
		opacity: 0.5;

		cursor: pointer;

		&:hover {
			color: var(--sg-graph-action-color-hover);
			background-color: var(--sg-graph-action-bg-color-hover);
		}

		svg {
			width: 16px;
			height: 16px;
		}
	}

	/* ========================================================================================================== */
	/* ======================================== Backlink Styling ================================================ */
	.slsg-backlinks {
		padding: 0;
		list-style: none;

		a.slsg-backlink {
			display: block;
			font-size: var(--sg-text-xs);
			text-decoration: none;
			color: var(--sg-text-color-accent);
			overflow-wrap: anywhere;

			&:hover {
				color: var(--sg-text-color);
				text-decoration: underline;
			}

			--pad-inline: 0.5rem;
			border-radius: 0.25rem;
			padding-block: 0.25rem;
			padding-inline: calc(1rem * var(--depth) + var(--pad-inline)) var(--pad-inline);
			line-height: 1.25;
		}
	}

	/* ========================================================================================================== */
	/* ====================================== Context Menu Styles =============================================== */
	.sg-menu-container {
		position: fixed;
		z-index: 1000;
	}

	.sg-menu {
		display: inline-flex;
		background-color: var(--sg-context-menu-bg-color);
		border: 1px var(--sg-context-menu-border-color) solid;
		border-radius: 10px;
		overflow: hidden;
		flex-direction: column;
		padding: 6px;
	}

	.sg-menu-item {
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 2px 4px;
		margin: 0 2px;
		border-radius: 4px;
		white-space: nowrap;
	}

	.sg-menu-item:hover {
		background-color: var(--sg-context-menu-bg-color-hover);
	}

	.sg-menu-item-icon {
		display: flex;
	}

	.sg-menu-item-icon svg {
		width: 20px;
		height: 20px;
	}

	.sg-menu-item-title {
		font-weight: 600;
		font-size: var(--sg-text-xs);
	}

	/* ========================================================================================================== */
	/* ======================================== Popup Menu Styling ============================================== */
	.sg-popup-menu {
		position: fixed;
		z-index: 1000;
		right: 8px;
		top: 8px;

		background-color: color-mix(in srgb, var(--sg-graph-bg-color) 90%, transparent);
		border: 1px solid var(--sg-context-menu-border-color);
		border-radius: 8px;
		padding: 8px;

		overflow: hidden;

		backdrop-filter: blur(32px);

		.sg-value-slider {
			display: flex;
			font-size: var(--sg-text-xs);
			flex-wrap: wrap;

			.sg-value-slider-text {
				display: flex;
				gap: 0.5rem;
			}

			.sg-value-slider-label {
				font-weight: 900;
			}
		}
	}
}

.sg-is-fullscreen {
    height: 90vh;
    width: 90vw;
}

@media (max-width: 1152px) {
    .sg-is-fullscreen {
        height: 80vh;
        width: 80vw;
    }
}
