/* Defaults for starlight-site-graph when starlight variables are not available */

@layer sitegraph {
    :root {
        --slsg-graph-width: 250px;
        --slsg-graph-height: 250px;

        --slsg-text-lg: 1.125rem;
        --slsg-text-md: 1rem;
        --slsg-text-sm: 0.875rem;
        --slsg-text-xs: 0.8125rem;
    }

    :root, :root[data-theme='dark'] {
        --slsg-graph-minimized-bg-color: #1e1e1e;
        --slsg-graph-maximized-bg-color: #252526;
        --slsg-graph-outline-color: #3c3c3c;

        --slsg-graph-action-color: #f2f2f2;
        --slsg-graph-action-color-hover: inherit;
        --slsg-graph-action-bg-color-hover: #2d2d2d;

        --slsg-context-menu-border-color: #3c3c3c;
        --slsg-context-menu-bg-color: #3c3c3c;
        --slsg-context-menu-bg-color-hover: #2d2d2d;

        --slsg-text-color: #f2f2f2;
        --slsg-text-color-accent: #359de3;
        --slsg-text-color-muted: #5a5a5a;

        --slsg-color-accent: #007acc;
        --slsg-color-muted: #5a5a5a;

        --slsg-link-color: #3c3c3c;

        --slsg-node-color: #ffffff;
        --slsg-node-color-adjacent: #d4d4d4;
        --slsg-node-color-current: #3eb63e;
        --slsg-node-color-visited: #9c9c9c;
        --slsg-node-color-unresolved: #ea4040;
        --slsg-node-color-external: #b138b1;
        --slsg-node-color-tag: #c3a6ff;
        --slsg-node-color-1: #ff7d82;
        --slsg-node-color-2: #ffb07a;
        --slsg-node-color-3: #ffd66f;
        --slsg-node-color-4: #dee169;
        --slsg-node-color-5: #a6e75c;
        --slsg-node-color-6: #76bf93;
        --slsg-node-color-7: #4e9cdf;
        --slsg-node-color-8: #6a86d1;
        --slsg-node-color-9: #a287ca;
    }

    :root[data-theme='light'] {
        --slsg-graph-minimized-bg-color: #f2f2f2;
        --slsg-graph-maximized-bg-color: #f3f3f3;
        --slsg-graph-outline-color: #cccccc;

        --slsg-graph-action-color: #222222;
        --slsg-graph-action-bg-color-hover: #e0e0e0;

        --slsg-context-menu-border-color: #cccccc;
        --slsg-context-menu-bg-color: #f3f3f3;
        --slsg-context-menu-bg-color-hover: #e0e0e0;

        --slsg-text-color: #222222;
        --slsg-text-color-accent: #007acc;
        --slsg-text-color-muted: #5a5a5a;

        --slsg-color-accent: #007acc;
        --slsg-color-muted: #5a5a5a;

        --slsg-link-color: #cccccc;

        --slsg-node-color: #222222;
        --slsg-node-color-adjacent: #d4d4d4;
        --slsg-node-color-current: #5eaa5e;
        --slsg-node-color-visited: #404040;
        --slsg-node-color-unresolved: #af3737;
        --slsg-node-color-external: #b16db1;
        --slsg-node-color-tag: #a17bf8;
        --slsg-node-color-1: #ff595e;
        --slsg-node-color-2: #ff924c;
        --slsg-node-color-3: #ffca3a;
        --slsg-node-color-4: #c5ca30;
        --slsg-node-color-5: #8ac926;
        --slsg-node-color-6: #52a675;
        --slsg-node-color-7: #1982c4;
        --slsg-node-color-8: #4267ac;
        --slsg-node-color-9: #7d5ba6;
    }
}
