.flex-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-items: baseline;
    align-items: baseline;
    padding: 0 4rem;

    .break-line {
        display: contents;
    }

    .break-line::before {
        content: '';
        width: 100%;
    }
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    justify-items: baseline;
    align-items: baseline;
}

.corner-type-button button {
    background-color: var(--sl-color-gray-4);
}

/* FIXME: These styles don't work inside astro components, investigate */
@media (max-width: 50em) {
    .graph-example .place-aside starlight-tabs {
        height: unset;
    }
}

.items-full-width.items-full-width > * {
    flex-basis: 100%;
}



.items-full-width .graph-component {
    order: 0;
}

.items-full-width .user-config {
    order: 1;
}

.items-full-width starlight-tabs {
    order: 2;
}
