.flex-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-items: baseline;
    align-items: baseline;
    padding: 0 4rem;

    .break-line {
        display: contents;
    }

    .break-line::before {
        content: '';
        width: 100%;
    }
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    justify-items: baseline;
    align-items: baseline;
}

.corner-type-button button {
    background-color: var(--sl-color-gray-4);
}

/* FIXME: These styles don't work inside astro components, investigate */
@media (max-width: 50em) {
    .graph-example .place-aside starlight-tabs {
        height: unset;
    }
}

.items-full-width.items-full-width > * {
    flex-basis: 100%;
}

.items-full-width .graph-component {
    order: 0;
}

.items-full-width .user-config {
    order: 1;
}

.items-full-width.items-full-width starlight-tabs {
    height: unset;
    order: 2;
}

:root[data-theme='dark'] {
    --sl-color-accent-low: #826400;
    --sl-color-accent: #aa860f;
    --sl-color-accent-high: #bd9a28;
}

:root[data-theme='dark'] .right-sidebar graph-component {
    --slsg-node-color: #d6a331;
    --slsg-node-color-current: #EBB442;
    --slsg-node-color-visited: #ba9032;
    --slsg-node-color-external: #d3a446;
    --slsg-color-accent: #f3ba41;
    --slsg-text-color-accent: var(--sl-color-white);
}

:root[data-theme='light'] {
    --sl-color-accent-low: #fdc65e;
    --sl-color-accent: #d59215;
    --sl-color-accent-high: #ca8c17 ;

    --slsg-graph-bg-color: var(--sl-color-black);
}

:root[data-theme='light'] .right-sidebar graph-component {
    --slsg-node-color: #f8b724;
    --slsg-node-color-current: #f8b017;
    --slsg-node-color-visited: #e3a524;
    --slsg-node-color-external: #efb43e;
    --slsg-color-accent: #f6ae0a;
    --slsg-text-color-accent: var(--sl-color-white);
}
